<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutoService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IAutoService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAutoService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAutoService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAutoService" contract="ServiceReference1.IAutoService"
                name="NetTcpBinding_IAutoService">
                <identity>
                    <userPrincipalName value="DESKTOP-MFV9PIV\rulan" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/autos" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IAutoService" contract="ServiceReference1.IAutoService"
                name="NetNamedPipeBinding_IAutoService">
                <identity>
                    <userPrincipalName value="DESKTOP-MFV9PIV\rulan" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAutoService" contract="ServiceReference1.IAutoService"
                name="BasicHttpBinding_IAutoService" />
            <endpoint address="http://localhost:5/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAutoService" contract="ServiceReference1.IAutoService"
                name="WSHttpBinding_IAutoService">
                <identity>
                    <userPrincipalName value="DESKTOP-MFV9PIV\rulan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>