<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_IService1">
                    <reliableSession enabled="true" />
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost.fiddler:8733/Design_Time_Addresses/WCFSessions.Host/Service1/"
                binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IService1"
                contract="ServiceReference1.IService1" name="WS2007HttpBinding_IService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>